<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/* * {
  outline: 1px gray solid;
} */
=======
>>>>>>> f7c16a3 (feat: setting font sizes)
=======
/* * {
  outline: 1px gray solid;
} */
>>>>>>> e9d7fca (feat: make sidebar component + style)
=======
/* * {
  outline: 1px gray solid;
} */
>>>>>>> 91ffba9f62b9a46305472b27ea0b29db191c7698
